@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a{
  text-decoration: none;
}

header{
  display: flex;
  flex-direction: column;
}

.top{
  display: flex;
  padding: 33.5px 0px 34.5px 54px;
  align-items: center;
}

.brand{
  display: flex;
}

#brand-name{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-left: 5px;
  margin-right: 69px;
}

.header-nav ul{
  display: flex;
  font-weight: 500;
  font-size: 16px;
}

.header-nav li{
  margin-right: 75px;
  color: rgba(0, 0, 0, 1);
}

.our-products{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 49px;
}

.products{
  display: flex;
  justify-content: space-around;
  margin: 67px 102px 74px;
}

.product{
  background-color:rgba(244, 245, 247, 1);
  padding-bottom: 68px;
  margin-right: 32px;
}

.product-name{
  font-weight: 600;
  font-size: 24px;
  margin: 16px 16px 8px;
  color: rgba(58, 58, 58, 1);
}

.product-description{
  font-weight: 500;
  font-size: 16px;
  margin-left: 16px;
  color: rgba(137, 137, 137, 1);
}

.browse{
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-top: 74px;
}

.browse-disc{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  color: rgba(51, 51, 51, 1);
}

.rooms{
  display: flex;
  justify-content: space-around;
  margin: 63px 142px 133px;
}

.room{
  margin-right: 20px;
}

.room-name{
  margin-top: 30px;
  font-weight: 600px;
  font-size: 24px;
  text-align: center;
}

.more-information{
  margin: 0 220px 36px;
}

.description-h3{
  display: inline;
  margin-right: 56px;
  font-weight: 500;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}

.add-info{
  font-size: 24px;
  color: rgba(159, 159, 159, 1);
}

p{
  margin-top: 37px;
  font-size: 16px;
  color: rgba(159, 159, 159, 1);
  line-height: 25px;
}

.sofa-images{
  display: flex;
  justify-content: center;
}

.white-sofa{
  margin-right: 29px;
  margin-bottom: 150px;
}

.services{
  width: 100%;
  padding: 100px 53px;
  background-color: rgba(250, 243, 234, 1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services h3{
  font-weight: 600;
  font-size: 25px;
  color: rgba(36, 36, 36, 1);
  margin-bottom: 12px;
}

.services span{
  font-weight: 500;
  font-size: 20px;
  color: rgba(137, 137, 137, 1);
}

footer{
  padding: 48px 0 145px 100px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
}

.address h2{
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 50px;
}

.address span{
  font-size: 16px;
  color: rgba(159, 159, 159, 1);
}

.links h6{
  font-weight: 500;
  font-size: 16px;
  color: rgba(159, 159, 159, 1);
  margin-bottom: 55px;
}

.help h6{
  font-weight: 500;
  font-size: 16px;
  color: rgba(159, 159, 159, 1);
  margin-bottom: 55px;
}

.footer-nav li{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}